<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ಕನ್ನಡಪ್ರಭ</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://images.assettype.com/kannadaprabha/2024-02/5d0bd076-86c8-43bc-927b-70217627f2a1/kp_logo_white.png"
    />
    <link rel="stylesheet" href="./static/style.css" />
  </head>
  <body>
    <header>
      <div class="logo-section">
        <img
          src="https://images.assettype.com/kannadaprabha/2024-02/5d0bd076-86c8-43bc-927b-70217627f2a1/kp_logo_white.png"
          alt="Kannada Logo"
          class="logo"
        />
      </div>
      <nav>
        <ul>
          <li><a href="/rajya">ರಾಜ್ಯ</a></li>
          <li>
            <a href="/desha">ದೇಶ</a>
          </li>
          <li><a href="/rajyakeeya">ರಾಜಕೀಯ</a></li>
          <li><a href="/kreeda">ಕ್ರೀಡೆ</a></li>
          <li><a href="/videsha">ವಿದೇಶ</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
